
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

table, th, td {
    text-align: left;
    vertical-align: baseline;
}

th, td {
    padding: 15px;
    margin-bottom: 10px;
}

th {
    background-color: #272727;
    color: #ff652f;
}

/*Dropdown meny in status buttons*/
/*Source: https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp */
.dropbtn {
    background-color: #a538ff;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 3px 10px;
    font-size: 14px;
}

.dropbtn:hover {
    background-color: #8725d9;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown.dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover.dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.header {
    color: #ff652f;
    padding: 20px;
    text-align: center;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #272727;
}

/*Suorce: https://www.w3schools.com/howto/howto_js_topnav.asp */
.topnav {
    overflow: hidden;
    background-color: #ff652f;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/*Create new task button*/
.button {
    background-color: #14a76c;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 6px;
    margin-left: 5px;
    border-radius: 5px;
}

.button:hover {
    background-color: #0e8a58;
}

.button:active {
    background-color: black;
}

.button:visited {
    background-color: ;
}

/*Delete buttons*/
.delete-button {
    background-color: #ff652f;
    color: white;
    text-decoration: none;
    padding: 3px 10px;
    border-radius: 5px;
    float: right;
    font-size: 14px;
}

.delete-button:hover {
    background-color: orangered;
}

/*Category paragraph*/
.category {
    text-align: center;
    color: #ff652f;
    font-size: 24px;
}

.todocard {
    background-color: #ddd;
    margin-bottom: 10px;
    padding-bottom: 30px;
    display: block;
    border-radius: 5px;
}

/*
Source: https://css-tricks.com/almanac/properties/b/box-shadow/
*/
.shadow {
    -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

.listtable {
    margin-top: 40px;
}

.listtable, th, td {
    border-right: 1px solid #ff652f;
}
